body {
    font: 20px Mukta, libre;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .banner { 
    background-color: #8b97fd; 
    color: #ffffff;
    text-align: center;
  }
  .banner .sticker{
      width: 100%;
      height: fit-content;
      margin-left: auto;
      margin-right: auto;
  }
  .banner h3{
    color: #ffdf2b;
    font-weight: 600;
    font-size: 75px;
    margin: 10px 0 15px 0;
  }
  
  .api-button { 
    background-color: #ffffff; 
    color: #555555;
  }
  .api-button h3{
    font-weight: 600;
    font-size: 50px;
    margin: 10px 0 15px 0;
  }
  .row{
      margin-top: 50px;
  }
  .ftr { 
    background-color: #8b97fd; 
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }